In [2]:
# LBDHDDSI	    高密度脂蛋白
# LBDTCSI       总胆固醇
# LBDTRSI       甘油三酯
# non_HDL       非高密度脂蛋白

import pandas as pd
import numpy as np

In [13]:
# 甘油三酯
tri_df = pd.read_sas('E:/work/Paper/NHANES/0708Analysis Data/Cholesterol/TRIGLY_E.XPT')
tri_extract_features = [
    'SEQN',
    'LBDTRSI'
]
tri_extract_df = tri_df[tri_extract_features]
tri_extract_df

         SEQN  LBDTRSI
0     41479.0    1.118
1     41481.0      NaN
2     41485.0    1.942
3     41486.0    2.631
4     41487.0    1.400
...       ...      ...
3310  51616.0    1.434
3311  51617.0    0.858
3312  51618.0    1.163
3313  51620.0    2.518
3314  51623.0    0.632

[3315 rows x 2 columns]

In [15]:
# 高密度脂蛋白
hdl_df = pd.read_sas('E:/work/Paper/NHANES/0708Analysis Data/Cholesterol/HDL_E.XPT')
hdl_extract_features = [
    'SEQN',
    'LBDHDDSI',     #直接测量的高密度脂蛋白(mmol/L)
]
hdl_extract_df = hdl_df[hdl_extract_features]

In [10]:
# 总胆固醇
total_cholesterol_df = pd.read_sas('E:/work/Paper/NHANES/0708Analysis Data/Cholesterol/TCHOL_E.XPT')

total_cholesterol_extract_features = [
    'SEQN',
    'LBDTCSI',      #胆固醇总量( mmol/L)
]
total_cholesterol_extract_df = total_cholesterol_df[total_cholesterol_extract_features]

In [12]:
# 合并文件
chelesterol_df = pd.merge(left=hdl_extract_df, right=total_cholesterol_extract_df, on='SEQN', how='outer')
chelesterol_df = pd.merge(left=chelesterol_df, right=tri_extract_df, on='SEQN', how='outer')
chelesterol_df['non_HDL'] = chelesterol_df['LBDTCSI'] - chelesterol_df['LBDHDDSI']
chelesterol_df

         SEQN  LBDHDDSI  LBDTCSI  LBDTRSI  non_HDL
0     41475.0      1.22     4.63      NaN     3.41
1     41476.0      1.16     3.70      NaN     2.54
2     41477.0      0.88     4.94      NaN     4.06
3     41479.0      1.22     4.86    1.118     3.64
4     41480.0       NaN      NaN      NaN      NaN
...       ...       ...      ...      ...      ...
8127  51619.0      1.29     5.69      NaN     4.40
8128  51620.0      1.06     6.31    2.518     5.25
8129  51621.0      1.16     3.31      NaN     2.15
8130  51622.0      1.68     5.38      NaN     3.70
8131  51623.0      1.09     2.95    0.632     1.86

[8132 rows x 5 columns]

In [5]:
chelesterol_df.to_excel('E:/work/Paper/NHANES/0708Analysis Data/Final data/chelesterol.xlsx')